<li class="nav-item"><a class="nav-link " th:href="@{/categories}" th:text="#{category.list.headline}" /></li>
<li class="nav-item"><a class="nav-link " th:href="@{/producers}" th:text="#{producer.list.headline}" /></li>
<li class="nav-item"><a class="nav-link " th:href="@{/socks}" th:text="#{sock.list.headline}" /></li>
<li class="nav-item"><a class="nav-link " th:href="@{/discounts}" th:text="#{discount.list.headline}" /></li>
<li class="nav-item"><a class="nav-link " th:href="@{/colors}" th:text="#{color.list.headline}" /></li>
<li class="nav-item"><a class="nav-link " th:href="@{/sizes}" th:text="#{size.list.headline}" /></li>
<li class="nav-item"><a class="nav-link " th:href="@{/materials}" th:text="#{material.list.headline}" /></li>
<li class="nav-item"><a class="nav-link " th:href="@{/patterns}" th:text="#{pattern.list.headline}" /></li>
<li class="nav-item"><a class="nav-link " th:href="@{/sockDetails}" th:text="#{sockDetail.list.headline}" /></li>
<li class="nav-item"><a class="nav-link " th:href="@{/imageSockDetails}" th:text="#{imageSockDetail.list.headline}" />
</li>
<li class="nav-item"><a class="nav-link " th:href="@{/blogs}" th:text="#{blog.list.headline}" /></li>
<li class="nav-item"><a class="nav-link " th:href="@{/customers}" th:text="#{customer.list.headline}" /></li>
<li class="nav-item"><a class="nav-link " th:href="@{/billDetails}" th:text="#{billDetail.list.headline}" /></li>
<li class="nav-item"><a class="nav-link " th:href="@{/bills}" th:text="#{bill.list.headline}" /></li>
<li class="nav-item"><a class="nav-link " th:href="@{/employees}" th:text="#{employee.list.headline}" /></li>
<li class="nav-item"><a class="nav-link " th:href="@{/roles}" th:text="#{role.list.headline}" /></li>
<li class="nav-item"><a class="nav-link " th:href="@{/payMethods}" th:text="#{payMethod.list.headline}" /></li>
<li class="nav-item"><a class="nav-link " th:href="@{/cartDetails}" th:text="#{cartDetail.list.headline}" /></li>
<li class="nav-item"><a class="nav-link " th:href="@{/accounts}" th:text="#{account.list.headline}" /></li>
<li class="nav-item"><a class="nav-link " th:href="@{/customerAddresses}" th:text="#{customerAddress.list.headline}" />
</li>