<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{blog.edit.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{blog.edit.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/blogs}" th:text="#{blog.edit.back}" class="btn btn-secondary" />
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('blog')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='blog', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='blog', field='title')}" />
                <div th:replace="~{fragments/forms::inputRow(object='blog', field='path', type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='blog', field='dateCreate', inputClass='js-datepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='blog', field='dateUpdate', inputClass='js-datepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='blog', field='content', type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='blog', field='status', type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='blog', field='sockDetailBlogSockDetails', type='multiselect')}" />
                <input type="submit" th:value="#{blog.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
