<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{discount.add.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{discount.add.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/discounts}" th:text="#{discount.add.back}" class="btn btn-secondary" />
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('discount')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='discount', field='couponCode')}" />
                <div th:replace="~{fragments/forms::inputRow(object='discount', field='name')}" />
                <div th:replace="~{fragments/forms::inputRow(object='discount', field='description', type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='discount', field='validFrom', inputClass='js-datepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='discount', field='validUntil', inputClass='js-datepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='discount', field='discountValue', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='discount', field='status', type='checkbox')}" />
                <input type="submit" th:value="#{discount.add.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
