<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{cartDetail.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{cartDetail.list.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/cartDetails/add}" th:text="#{cartDetail.list.createNew}" class="btn btn-primary ms-2" />
                </div>
            </div>
            <div th:if="${cartDetails.empty}" th:text="#{cartDetail.list.empty}" />
            <div th:if="${!cartDetails.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th th:text="#{cartDetail.id.label}" scope="col" />
                            <th th:text="#{cartDetail.updatedAt.label}" scope="col" />
                            <th th:text="#{cartDetail.deleted.label}" scope="col" />
                            <th th:text="#{cartDetail.quantity.label}" scope="col" />
                            <th th:text="#{cartDetail.status.label}" scope="col" />
                            <th th:text="#{cartDetail.cart.label}" scope="col" />
                            <th th:text="#{cartDetail.sockDetail.label}" scope="col" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="cartDetail : ${cartDetails}">
                            <td th:text="${cartDetail.id}" />
                            <td th:text="${cartDetail.updatedAt}" />
                            <td th:text="${cartDetail.deleted}" />
                            <td th:text="${cartDetail.quantity}" />
                            <td th:text="${cartDetail.status}" />
                            <td th:text="${cartDetail.cart}" />
                            <td th:text="${cartDetail.sockDetail}" />
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/cartDetails/edit/{id}(id=${cartDetail.id})}" th:text="#{cartDetail.list.edit}" class="btn btn-sm btn-secondary" />
                                    <form th:action="@{/cartDetails/delete/{id}(id=${cartDetail.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button th:text="#{cartDetail.list.delete}" type="submit" class="btn btn-sm btn-secondary" />
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
