<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{billDetail.edit.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{billDetail.edit.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/billDetails}" th:text="#{billDetail.edit.back}" class="btn btn-secondary" />
                </div>
            </div>
            <div th:replace="~{fragments/forms::globalErrors('billDetail')}" />
            <form th:action="${requestUri}" method="post">
                <div th:replace="~{fragments/forms::inputRow(object='billDetail', field='id', disabled=true, type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='billDetail', field='updatedAt', inputClass='js-datetimepicker')}" />
                <div th:replace="~{fragments/forms::inputRow(object='billDetail', field='deleted', type='checkbox')}" />
                <div th:replace="~{fragments/forms::inputRow(object='billDetail', field='quantity', type='number')}" />
                <div th:replace="~{fragments/forms::inputRow(object='billDetail', field='price')}" />
                <div th:replace="~{fragments/forms::inputRow(object='billDetail', field='note', type='textarea')}" />
                <div th:replace="~{fragments/forms::inputRow(object='billDetail', field='status')}" />
                <div th:replace="~{fragments/forms::inputRow(object='billDetail', field='bill', type='select')}" />
                <div th:replace="~{fragments/forms::inputRow(object='billDetail', field='sockDetail', type='select')}" />
                <input type="submit" th:value="#{billDetail.edit.headline}" class="btn btn-primary mt-4" />
            </form>
        </div>
    </body>
</html>
