<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{cart.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{cart.list.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/carts/add}" th:text="#{cart.list.createNew}" class="btn btn-primary ms-2" />
                </div>
            </div>
            <div th:if="${carts.empty}" th:text="#{cart.list.empty}" />
            <div th:if="${!carts.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th th:text="#{cart.id.label}" scope="col" />
                            <th th:text="#{cart.updatedAt.label}" scope="col" />
                            <th th:text="#{cart.deleted.label}" scope="col" />
                            <th th:text="#{cart.dateCreate.label}" scope="col" />
                            <th th:text="#{cart.status.label}" scope="col" />
                            <th th:text="#{cart.account.label}" scope="col" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="cart : ${carts}">
                            <td th:text="${cart.id}" />
                            <td th:text="${cart.updatedAt}" />
                            <td th:text="${cart.deleted}" />
                            <td th:text="${cart.dateCreate}" />
                            <td th:text="${cart.status}" />
                            <td th:text="${cart.account}" />
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/carts/edit/{id}(id=${cart.id})}" th:text="#{cart.list.edit}" class="btn btn-sm btn-secondary" />
                                    <form th:action="@{/carts/delete/{id}(id=${cart.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button th:text="#{cart.list.delete}" type="submit" class="btn btn-sm btn-secondary" />
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
