<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
    <head>
        <title th:text="#{account.list.headline}" />
    </head>
    <body>
        <div layout:fragment="content">
            <div class="d-flex flex-wrap mb-4">
                <h1 th:text="#{account.list.headline}" class="flex-grow-1" />
                <div>
                    <a th:href="@{/accounts/add}" th:text="#{account.list.createNew}" class="btn btn-primary ms-2" />
                </div>
            </div>
            <div th:if="${accounts.empty}" th:text="#{account.list.empty}" />
            <div th:if="${!accounts.empty}" class="table-responsive">
                <table class="table table-striped table-hover align-middle">
                    <thead>
                        <tr>
                            <th th:text="#{account.id.label}" scope="col" />
                            <th th:text="#{account.updatedAt.label}" scope="col" />
                            <th th:text="#{account.deleted.label}" scope="col" />
                            <th th:text="#{account.email.label}" scope="col" />
                            <th th:text="#{account.status.label}" scope="col" />
                            <th th:text="#{account.customer.label}" scope="col" />
                            <th><!-- --></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="account : ${accounts}">
                            <td th:text="${account.id}" />
                            <td th:text="${account.updatedAt}" />
                            <td th:text="${account.deleted}" />
                            <td th:text="${account.email}" />
                            <td th:text="${account.status}" />
                            <td th:text="${account.customer}" />
                            <td>
                                <div class="float-end text-nowrap">
                                    <a th:href="@{/accounts/edit/{id}(id=${account.id})}" th:text="#{account.list.edit}" class="btn btn-sm btn-secondary" />
                                    <form th:action="@{/accounts/delete/{id}(id=${account.id})}"
                                            th:data-confirm-message="#{delete.confirm}" method="post" class="js-submit-confirm d-inline">
                                        <button th:text="#{account.list.delete}" type="submit" class="btn btn-sm btn-secondary" />
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
